Replace stringprep with RFC 7622

The story so far:

Our initial implementation was written a long time ago, probably when [RFC 3920](https://tools.ietf.org/html/rfc3920) wasn't replaced by [RFC 6122](https://tools.ietf.org/html/rfc6122) yet.

Long story short, [RFC 3920](https://tools.ietf.org/html/rfc3920) and [RFC 6122](https://tools.ietf.org/html/rfc6122) defines some actions on JIDs in terms of "stringprep" — a customizable specification of internationalized string comparison and stuff. Recent [RFC 7590](https://tools.ietf.org/html/rfc7590) don't use stringprep and directly defines the algorithms instead.

That means we'll probably have to review and remove stringprep stuff from our code and implement a new algorithm instead.